In [1]:
import numpy as np
import pandas as pd

#1. 데이터 프레임 생성

data={
    "국어":[80,90,70,30],
    "영어":[90,70,60,40],
    "수학":[90,60,80,70]
}

df=pd.DataFrame(data)
df

   국어  영어  수학
0  80  90  90
1  90  70  60
2  70  60  80
3  30  40  70

In [8]:
np.random.seed(2022)
df2=pd.DataFrame(np.random.randint(40,101,12).reshape(4,3),
                columns=['국어','영어','수학'],
                index=['춘향','몽롱','향단','방자']                                )  
df2

# 열방향 인덱스는 columns 로  행방향 인덱스는 index 로 지정한다

    국어  영어  수학
춘향  68  85  88
몽롱  89  89  88
향단  95  64  58
방자  64  56  93

In [13]:
# 반복문을 써써 만드는 경우
kor ,eng, mat= [],[],[]
for i in range(4):
    kor.append(np.random.randint(40,101))
    eng.append(np.random.randint(40,101))
    mat.append(np.random.randint(40,101))

pd.DataFrame({"국어":kor,"수학":mat,"영어":eng})

   국어  수학  영어
0  56  66  98
1  51  73  70
2  42  93  56
3  55  77  63

In [16]:
line=[]
for i in range(4):
    d={"국어":np.random.randint(40,101),
       "수학":np.random.randint(40,101) ,                                    
        "영어":np.random.randint(40,101)                                    }
    line.append(d)

pd.DataFrame(line)

   국어  수학  영어
0  69  63  77
1  61  96  51
2  83  86  42
3  92  40  97

In [44]:
#2. 데이터프레임 인덱싱 
#인덱싱 순서가 지금까지의 행 - 열 순이 아니라 
#열- 인덱스 행 -인덱스 순이다 (시리즈 먼저 선택 후 인덱스 선택)

df2["영어"]["몽롱"]
df2["국어"] #== df2.국어 - 이렇게도 사용가능
 
df2["영어"]["몽롱"], df2["영어"][1], df2.영어[1], df2.영어.몽롱 # 전부 같은표현

#슬라이스
df2["국어"][:2]
df2['국어'][:'몽롱'] #인덱스 값으로 문자열을 주면 숫자와는 다르게 동작
df2

    국어  영어  수학
춘향  68  85  88
몽롱  89  89  88
향단  95  64  58
방자  64  56  93

In [50]:
df2["국어"]  # 결과가 시리즈

춘향    68
몽롱    89
향단    95
방자    64
Name: 국어, dtype: int32

In [58]:
# 결과를 데이터 프레임으로
df2[ ["국어","영어" ] ] #  df2[["영어"]]

(    국어  영어
 춘향  68  85
 몽롱  89  89
 향단  95  64
 방자  64  56,
     영어
 춘향  85
 몽롱  89
 향단  64
 방자  56)

In [59]:
# loc 인덱서:[행,열]
df2

    국어  영어  수학
춘향  68  85  88
몽롱  89  89  88
향단  95  64  58
방자  64  56  93

In [67]:
df2.loc["몽롱","영어"],df2.loc["몽롱"]["영어"],df2.loc["몽롱"][1],df2.loc["몽롱"].영어

(89, 89, 89, 89)

In [74]:
#iloc 인덱서 : [행숫자,열숫자]

df2.iloc[0][1],df2.iloc[1,1],df2.iloc[1]["영어"]

(85,
     국어  영어  수학
 춘향  68  85  88
 몽롱  89  89  88
 향단  95  64  58
 방자  64  56  93,
 89,
 89)

In [75]:
df2

    국어  영어  수학
춘향  68  85  88
몽롱  89  89  88
향단  95  64  58
방자  64  56  93

In [90]:
df2["수학"][3],df2["수학"]["방자"],df2["수학"].방자,df2.수학.방자
df2.loc["방자"]["수학"],df2.loc["방자"][2],df2.loc["방자","수학"],df2.loc["방자"].수학
df2.iloc[3,2],df2.iloc[3][2]

(93, 93)

In [112]:
#값 변경
df2["국어"]["방자"]=1
df2["과학"]=[1,2,3,4]
df2["평균"]=df2.mean(axis=1) #새로운 값 추가
df2

C:\Users\admin\AppData\Local\Temp/ipykernel_17456/1903386772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["국어"]["방자"]=1

    국어  영어  수학  과학     평균
춘향  68  85  88   1  60.50
몽롱  89  89  88   2  67.00
향단  95  64  58   3  55.00
방자   1   5  93   4  25.75

In [120]:
#열 삭제

del df2["평균"]  #방법1
df2.drop(columns=["수학","과학"],inplace=True) #방법2
df2

    국어  영어
춘향  68  85
몽롱  89  89
향단  95  64
방자   1   5

In [124]:
#행 삭제
df2.drop(["방자"],inplace=True) # inplace=True를 인자로 넣어줘야 
                                # 데이터프레임에서 영구적으로 삭제됨
df2

    국어  영어
춘향  68  85
몽롱  89  89
향단  95  64