In [7]:
#파일 입출력
import numpy as np
import pandas as pd

UsageError: Line magic function `%%writefile` not found.

In [8]:

%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Writing sample1.csv

In [12]:
df=pd.read_csv("sample1.csv")#read_csv() 파일 읽기

df['c4']=['일','이','삼']
df.to_csv("sample2.csv")     #파일쓰기 ,인덱스값이 들어감
pd.read_csv("sample2.csv")

   Unnamed: 0  c1    c2     c3 c4
0           0   1  1.11    one  일
1           1   2  2.22    two  이
2           2   3  3.33  three  삼

In [ ]:
#파일에 쓸 때는 index=False 옵션을 줄 것
df.to_csv("sample3.csv",index=False)    #index=Null 인덱스 값을 넣지않음
pd.read_csv("sample3.csv")

In [19]:
#sample4.tsv
#Encoding: EUC-kr
# Separator : \t
# 쓸데없는줄이 처음에 한개 있음
df=pd.read_csv("sample4.tsv",sep='\t',skiprows=1,encoding="ANSI")
df

   1 2 3 4
0  A B C D

In [22]:
price=["1,000","3,300","5,000"]
list(map(lambda x:int(x.replace(",","")),price))
# == pd.read_csv(thousands=',') -> ',' 지우기

[1000, 3300, 5000]

In [36]:
df=pd.read_csv("서울시CCTV설치운영현황(자치구)_년도별_211231기준 (1).csv",encoding="EUC-KR",skiprows=1,thousands=',')
df["2012년"].fillna("없어",inplace=True)
df

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,83557,4812,1851.0,3434.0,4295,6840,8708,11572,10627,12267,11247,7904
1,종로구,1715,815,없어,NaN,195,150,0,261,85,9,200,0
2,중 구,2447,16,114.0,87.0,77,236,240,372,386,155,361,403
3,용산구,2611,34,71.0,234.0,125,221,298,351,125,307,617,228
4,성동구,3829,163,144.0,208.0,107,325,255,967,415,490,472,283
5,광진구,3211,35,57.0,100.0,187,98,52,675,465,712,175,655
6,동대문구,2628,4,0.0,14.0,16,115,804,814,201,218,223,219
7,중랑구,3737,346,21.0,253.0,72,132,155,153,174,1049,934,448
8,성북구,4602,81,78.0,170.0,229,322,594,890,867,714,253,404
9,강북구,3090,8,0.0,22.0,61,124,251,29,391,1078,656,470
10,도봉구,1930,128,22.0,2.0,145,172,123,129,222,210,184,593
11,노원구,2492,0,87.0,164.0,77,514,331,175,216,320,387,221
12,은평구,4131,14,3.0,44.0,332,329,555,403,635,1057,288,471
13,서대문구,3055,730,253.0,155.0,108,137,223,356,237,343,397,116
14,마포구,2496,23,19.0,40.0,112,185,478,365,373,494,299,108
15,양천구,3650,71,174.0,158.0,134,246,424,577,837,312,346,371
16,강서구,2744,54,122.0,104.0,202,199,168,506,259,457,356,317
17,구로구,4608,852,216.0,349.0,187,268,326,540,488,434,415,533
18,금천구,2411,0,0.0,174.0,80,361,133,196,539,367,513,48
19,영등포구,4056,572,136.0,238.0,123,209,248,311,658,65,1213,283
20,동작구,2306,41,24.0,25.0,503,128,253,271,300,322,419,20
21,관악구,5149,440,84.0,431.0,439,609,622,688,674,595,331,236
22,서초구,4082,8,73.0,79.0,70,562,504,1041,417,339,433,556
23,강남구,6871,69,67.0,66.0,580,830,1293,988,745,791,926,516
24,송파구,2897,40,59.0,90.0,85,214,176,241,541,1073,235,143
25,강동구,2809,268,27.0,227.0,49,154,202,273,377,356,614,262