In [5]:
import numpy as np
import pandas as pd



food = pd.Series([50000, 40000, 35000, 100000],index=["치킨", "피자", "햄버거", "닭발"])
food2 = pd.Series([50000, 6000, 3500, 100000],index=["치킨", "햄", "치즈", "닭발"])

food+food2
food-food2
food*food2
food/food2

닭발     1.0
치즈     NaN
치킨     1.0
피자     NaN
햄      NaN
햄버거    NaN
dtype: float64

In [10]:
data={
    "1번":[80,"a",1.1,"ㅋ",12], #data type정수 ,실수라면 실수가 되지만
    "2번":[90,"b",2.1,"ㄴ",17], # 문자열이 있는 1,2,3,4,5번은은 크기가 가장 큰 문자열타입이 된다 (모든데이터가)
    "3번":[70,"c",3.3,"ㅈ",14],
    "4번":[60,"d",4.4,"ㅍ",13],
    "5번":[50,"e",5.5,"ㄱ",11]
}

df=pd.DataFrame(data,index=["성민","성하","지은","지혜","철수"],columns=["1번","2번","3번","4번","5번"])
df

     1번   2번   3번   4번   5번
성민   80   90   70   60   50
성하    a    b    c    d    e
지은  1.1  2.1  3.3  4.4  5.5
지혜    ㅋ    ㄴ    ㅈ    ㅍ    ㄱ
철수   12   17   14   13   11

In [9]:
import warnings
warnings.filterwarnings("ignore")   #warning 메시지 보고싶지 않을 때
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df["수학"]
df[["국어","영어"]]
df["평균"]=df.mean(axis=1).round(2)
df.영어.방자=80
df["평균"]=df.mean(axis=1).round(2)
df.iloc[[0][:]]
df.iloc[2][:]
df.T[["춘향"]]  # 데이터 프레임으로 보는방법

       춘향    향단
국어  80.00  70.0
영어  90.00  60.0
수학  90.00  80.0
평균  86.67  70.0

In [51]:
df=pd.DataFrame(np.arange(1,26).reshape(5,5),
                index=["one","two","three","four","five"],
                columns=["ONE","TWO","THREE","FOUR","FIVE"]
                                                            )

df["ONE"]["one"],df["ONE"][0],df.ONE.one,df["ONE"].one
df.loc["one"]["ONE"],df.loc["one"][0],df.loc["one"].ONE
df.iloc[0][0],df.iloc[0,0],df.iloc[0,0:1]

(1,
 1,
 ONE    1
 Name: one, dtype: int32)